@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-image: url(./tim-mossholder-zs-PAgqgenQ-unsplash.jpg);
    text-shadow: 1px 1px 3px black;
}


li {
    @apply py-4;
}

h3 {
    @apply text-lg font-bold;
    @apply my-8;
}

p {
    @apply text-justify;
}

p, img {
    @apply my-6;
}

img {
    @apply shadow-md rounded-md;
}
